
.container{
    margin-top: 5rem;
    position: relative;
    min-height: 200vh;
}

.relativo {
    position: relative;
    top: 3rem;
    left: 3rem;
}

.absoluto{
    position: absolute;
    top: 3rem;
    left: 3rem;
}

header{
    position: fixed;
    top: 1rem;
    left: 0rem;
    right: 0rem;
}

footer{
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
}

header, footer{
    background-color: brown;
    color: rgb(219, 190, 23);
}